{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
        <div class="container ">
            <h3>Populaires</h3>
            <div class="d-flex flex-row overflow-x">
                {% for top in tops %}

                    <div class="col m-3">
                        <div class="card border-0" style="width: 10rem;">
                            <img src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ top.poster_path }}"
                                 alt="{{ top.title }}"  class="card-img-top" alt="...">
                            <div class="card-body p-0">
                                <h2 class="card-title fs-6 text fw-bold"><a class="link-dark text-decoration-none" href="/{{top.slug}}/{{top.id}}">{{ top.title }}</a></h2>
                                <p class="card-text text-secondary">{{ top.release_date|date("m/d/Y") }}</p>

                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
{% endblock %}
